@import "tailwindcss";

@theme {
  --color-olive-900: #484C3B;
  --color-olive-800: #5A5E4B;
  --color-beige-100: #EBE4D4;
  --color-beige-50: #F5F1E8;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
}
